<h1 class="text-center"> <%= @user.name %>'s Profile </h1>
<div class="p-5">
  <table class="table table-striped">
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><strong>Phone:</strong></td>
      <td><%= @user.phone %></td>
    </tr>
    <tr>
      <td><strong>Address:</strong></td>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <td><strong>Salary:</strong></td>
      <td><%= @user.salary %></td>
    </tr>
    <tr>
      <td><strong>Bonus:</strong></td>
      <td><%= @user.bonus %></td>
    </tr>
    <tr>
      <td><strong>Role:</strong></td>
      <td><%= @user.role_name %></td>
    </tr>
    <tr>
      <td><strong>Company</strong></td>
      <td><em><%= link_to "#{current_users_company.name}", company_path(current_users_company) %></em></td>
    </tr>
    <tr>
      <td><strong>Department</strong></td>
      <td><%= @user.department.name %></td>
    </tr>
  </table>

  <%= link_to 'Edit Details', edit_user_path(@user), class: 'btn btn-primary' %>
  <% if current_user_has_role?('admin') %>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
  <% end %>
</div>