<h2>Log in</h2>

<% User.order(:id).each do |user| %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email, autofocus: true, autocomplete: "email", value: user.email %>
    <%= f.hidden_field :password, autocomplete: "off", value: 'test1234' %>

    <div class="actions">
      <% btn_type = user.has_admin_role? ? 'primary' : 'secondary' %>
      <%= f.submit "Log in with #{user.name} (#{user.role_name})", class: "btn btn-#{btn_type} m-2" %> - <%= user.department_name %>
    </div>
  <% end %>
<% end %>


<%= render "devise/shared/links" %>
